
.klase-1, .klase-0 {
    width: 150px;
    height: 150px;
    background-size: contain;
    background-repeat: no-repeat;
}
.klase-1 {
    background-image: url('../images/bamboo.gif');
}
.klase-0 {
    background-image: url('../images/eggplant.gif');
}
.flex {
    display: flex;
} 