div{
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
}
.eggplant{
    color: darkmagenta;
    background-image: url(../images/eggplant.gif);
}
.bamboo{
    color: darkcyan;
    background-image: url(../images/bamboo.gif);
}