
.class-1, .class-0 {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}
.class-1 {
    background-image: url('../images/bamboo.gif');
}
.class-0 {
    background-image: url('../images/eggplant.gif');
}
.flex {
    display: flex;
} 